.input {
    display: block;
    width: 90%;
    height: 42px;
    margin: 3em auto;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: .8em;
    outline: none;
}


.btnn {
    display: block;
    width: 240px;
    padding: .8em .4em;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    font-size: 16px;
    background-color: orange;
    cursor: pointer;
    color: #ffffff;
    margin-top: 2em;
}