.input {
    display: block;
    width: 90%;
    height: 32px;
    margin: 3em auto;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: .8em;
    outline: none;
}


.btn {
    margin: 3em auto;
    display: block;
    width: 320px;
    padding: 1.2em .5em;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    font-size: 12px;
    background-color: #3bc0f5;
    cursor: pointer;
    color: #ffffff;
}